Repository ocaml/ocaml.org, pull requests merged in 2024-07, with the labels that each got.

#2558 Use sudo in install tutorial
  data/tutorials/getting-started/1_00_install_OCaml.md
Labels: documentation

#2405 Cookbooks on GZIP and ZIP using camlzip
  data/cookbook/compress-single-file-gzip/00-camlzip.ml
  data/cookbook/create-zip-archive/00-camlzip.ml
  data/cookbook/decompress-single-file-gzip/00-camlzip.ml
  data/cookbook/decompress-zip-archive/00-camlzip.ml
  data/cookbook/tasks.yml
Labels: Cookbook, merge after line editing

#2403 Cookbooks "Parse a URI from String And Access Individual Parts with uri" and "Encode a URI to String with uri"
  data/cookbook/tasks.yml
  data/cookbook/uri-encoding/00-uri.ml
  data/cookbook/uri-parsing/00-uri.ml
Labels: Cookbook, needs review, merge after line editing

#2336 OCaml Tour: -New sections- Introduction and Before We Begin. Added REPL definition and double semicolon use
  data/tutorials/getting-started/1_01_a_tour_of_ocaml.md
Labels: merge after line editing
