Repository ocaml/ocaml.org, pull requests merged in 2024-06, with the labels that each got.

#2407 Cookbook "Validate an Email Address" with re
  data/cookbook/read-environment-variable/00-stdlib.ml
Labels: Cookbook

#2518 (docs) Cookbook "Validate an Email Address" with re
  data/cookbook/regex-validate-email/00-re.ml
Labels: Cookbook

#2513 Cookbook normalize vector
  data/cookbook/normalize-vector/00-stdlib.ml
Labels: Cookbook

#2378 (docs) Cookbook "Sorting Lists and Arrays" with the Standard Library
  data/cookbook/sorting-lists-and-arrays/00-stdlib.ml
Labels: Cookbook, needs review

#2415 (docs) Cookbooks "Serialise JSON Data using ppx_yojson_conv" and "Deserialise JSON Data using ppx_yojson_conv"
  data/cookbook/deserialise-from-json/00-ppx_yojson_conv.ml
  data/cookbook/serialise-to-json/00-ppx_yojson_conv.ml
Labels: Cookbook, needs review

#2408 (docs) Cookbooks "Run an External Command and Process Stdout" and "Run Piped External Commands"
  data/cookbook/run-command-process-stdout/00-stdlib.ml
  data/cookbook/run-command-process-stdout/01-feather.ml
  data/cookbook/run-command-process-stdout/02-shexp.ml
  data/cookbook/run-piped-commands/01-feather.ml
  data/cookbook/run-piped-commands/02-shexp.ml
Labels: Cookbook

#2535 Fix dune files
  data/tutorials/language/1ms_00_modules.md
Labels: documentation

#2547 ocaml-web repo link
  data/tutorials/getting-started/1_02_your_first_ocaml_program.md
Labels: documentation

#2544 Prerequisites and ocaml-web repo link
  data/tutorials/language/1ms_01_functors.md
Labels: documentation

#2543 Prerequisites and ocaml-web repo link
  data/tutorials/language/1ms_00_modules.md
Labels: documentation

#2537 Add text on interface sharing using module type
  data/tutorials/language/1ms_02_dune.md
Labels: documentation
