Repository ocaml/ocaml.org, pull requests merged in 2025-06, with the labels that each got.

#3026 Update second half of seq.md, structural changes
  data/tutorials/language/3ds_05_seq.md
Labels: documentation

#3164 changelog: release Dune 3.19.1
  data/changelog/releases/dune/2025-06-11-dune.3.19.1.md
Labels: changelog

#3166 Cookbook: "Start a Web Server" with dream and cohttp
  data/cookbook/start-a-web-server-hello-world/00-cohttp-server.ml
  data/cookbook/start-a-web-server-hello-world/01-dream-server.ml
Labels: Cookbook

#3158 Cookbook: Display Formatted Date and Time
  data/cookbook/display-formatted-date-time/00-stdlib.ml
Labels: Cookbook
