Repository ocaml/ocaml.org, pull requests merged in 2025-10, with the labels that each got.

#2573 Cookbook: recipes for parse-command-line-arguments
  data/cookbook/parse-command-line-arguments/00-stdlib.ml
  data/cookbook/parse-command-line-arguments/01-cmdliner.ml
Labels: Cookbook, needs rebase

#2090 First class module (Learning/Language/Module System)
  data/tutorials/language/1ms_02_first_class_modules.md
  data/tutorials/language/1ms_03_dune.md
Labels: documentation

#3201 Cookbook: Use Basic Authentication to Secure a Route
  data/cookbook/use-basic-auth-on-web-server/00-dream-server.ml
Labels: Cookbook
